.cart {
  margin-top: 80px;
}

.cart > table {
  width: 100vw;
}

.table-header > tr > th {
  padding: 1rem;
}

td {
  border: 1px solid #eae8e4;
  border-right: none;
  text-align: center;
}

.row-remove {
  width: 50px;
}

.row-image {
  width: 350px;
  height: 350px;
}

.row-image > img {
  width: 90%;
  height: 90%;
}

.deleteBtn {
  cursor: pointer;
}
