.cart {
  margin-top: 80px;
}

.cart > table {
  width: 100vw;
}

.table-header > tr > th {
  padding: 1rem;
}

td {
  border: 1px solid #eae8e4;
  border-left: none;
}

.row-image {
  width: fit-content;
}

.row-image > img {
  width: 300px;
  height: 300px;
}
